<!-- Contact -->

<div class="popular page_section animated fadeIn fast">
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>Nuestra ubicación</h1>
                </div>
            </div>
        </div>

        <!-- Google Map -->

        <div class="row">
            <div class="col">
                <br>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16">
                    <agm-marker [latitude]="lat" [longitude]="lng">
                        <agm-info-window isOpen="true">
                            <span style="font-size: 16px; font-weight: normal;color: #192a7e;">
                                <u>PREUNIVERSITARIOS</u><br> <u>INSTITUTO SAN MATIAS</u>
                            </span>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </div>
        </div>

    </div>
</div>