<div class="services page_section">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>Materias por carrera</h1>
                </div>
            </div>
        </div>

        <div class="row services_row">

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/earth-globe.svg" alt="">
                </div>
                <h3>Medicina</h3>
                <p>Física, Química y Biología.</p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/exam.svg" alt="">
                </div>
                <h3>Ingeniería</h3>
                <p>Física y Matemática.</p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/books.svg" alt="">
                </div>
                <h3>Diseño Grafico</h3>
                <p>Geometría, Matemática e Introducción al diseño.</p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/professor.svg" alt="">
                </div>
                <h3>Ciencias Económicas</h3>
                <p>Matemática, Contabilidad e Introducción al las ciencias económicas.</p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/blackboard.svg" alt="">
                </div>
                <h3>Ciencias Agrarias</h3>
                <p>Química, Matemática, Biología y Física (opcional).</p>
            </div>

            <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                <div class="icon_container d-flex flex-column justify-content-end">
                    <img src="assets/images/mortarboard.svg" alt="">
                </div>
                <h3>Arquitectura</h3>
                <p>Física, Matématica e Introducción a la Arquitectura.</p>
            </div>

        </div>
    </div>
</div>
<div class="milestones">

    <div class="milestones_container">
        <div class="milestones_background" style="background-image:url(assets/images/milestones_background.jpg)"></div>

        <div class="container">
            <div class="row">

                <!-- Milestone -->
                <div class="col-lg-3 milestone_col">
                    <div class="milestone text-center">
                        <div class="milestone_icon"><img src="assets/images/milestone_1.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
                        <div class="milestone_counter" data-end-value="750">0</div>
                        <div class="milestone_text">Estudiantes</div>
                    </div>
                </div>

                <!-- Milestone -->
                <div class="col-lg-3 milestone_col">
                    <div class="milestone text-center">
                        <div class="milestone_icon"><img src="assets/images/milestone_2.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
                        <div class="milestone_counter" data-end-value="120">0</div>
                        <div class="milestone_text">Profesores</div>
                    </div>
                </div>

                <!-- Milestone -->
                <div class="col-lg-3 milestone_col">
                    <div class="milestone text-center">
                        <div class="milestone_icon"><img src="assets/images/milestone_3.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
                        <div class="milestone_counter" data-end-value="6">0</div>
                        <div class="milestone_text">Preuniversitarios</div>
                    </div>
                </div>

                <!-- Milestone -->
                <div class="col-lg-3 milestone_col">
                    <div class="milestone text-center">
                        <div class="milestone_icon"><img src="assets/images/milestone_4.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
                        <div class="milestone_counter" data-end-value="500" data-sign-before="+">0</div>
                        <div class="milestone_text">Estudiantes graduados</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>