<div class="popular page_section animated fadeIn fast">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>Nuestros preuniversitarios</h1>
                </div>
            </div>
        </div>

        <div class="row course_boxes">

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_1.jpg" alt="https://unsplash.com/@kellybrito">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Medicina</a></div>
                        <div class="card-text">Estudio de la vida, la salud y las enfermedades, e implica ejercer tal conocimiento técnico para el mantenimiento y recuperación de la salud, aplicándolo al diagnóstico, tratamiento y prevención de las enfermedades...
                        </div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Autor</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$0</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_2.jpg" alt="https://unsplash.com/@cikstefan">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Ingeniería</a></div>
                        <div class="card-text">Arte y técnica de aplicar los conocimientos científicos a la invención, diseño, perfeccionamiento y manejo de nuevos procedimientos en la industria y otros campos de aplicación científicos...</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Autor</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$0</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_1.jpg" alt="https://unsplash.com/@dsmacinnes">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Diseño Grafico</a></div>
                        <div class="card-text">Profesión cuya actividad consiste en proyectar comunicaciones visuales destinadas a transmitir mensajes específicos a grupos sociales, con objetivos determinados. Esta actividad ayuda a optimizar las comunicaciones gráficas...</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Autor</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$0</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row course_boxes">
            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_2.jpg" alt="https://unsplash.com/@dsmacinnes">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Ciencias Económicas</a></div>
                        <div class="card-text">Ciencia que estudia cómo se organiza una sociedad para producir sus medios de existencia que, distribuidos entre sus miembros y consumidos por ellos, permiten que la sociedad pueda producirlos de nuevo y así sucesivamente, proveyendo
                            con ello, de una forma constantemente renovada, la base material para el conjunto de la reproducción de la sociedad en el tiempo...</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Autor</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$0</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_1.jpg" alt="https://unsplash.com/@dsmacinnes">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Ciencias Agrarias</a></div>
                        <div class="card-text">Ciencia cuyo objetivo es mejorar la calidad de los procesos de la producción y la transformación de productos agrícolas y alimentarios. Fundamentada en principios científicos y tecnológicos, estudia los factores físicos, químicos,
                            biológicos, económicos y sociales que influyen o afectan al proceso productivo. Su objeto de estudio es el fenómeno complejo o proceso social del agroecosistema, entendido éste como el modelo específico de intervención del
                            ser humano en la naturaleza, con fines de producción de alimentos y materia prima...</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Autor</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$0</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="assets/images/course_2.jpg" alt="https://unsplash.com/@dsmacinnes">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Arquitectura</a></div>
                        <div class="card-text">Arte y la técnica de proyectar, diseñar, construir y modificar el hábitat humano, incluyendo edificios de todo tipo, estructuras arquitectónicas, espacios arquitectónicos y urbanos...</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="assets/images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael Smith, <span>Autor</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>$0</span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>